/* Min Width 1201px and Max Width 1399400*/

@media (min-width: 1201px) and (max-width: 1400px) {
  .hero-content {
    padding-right: 80px;
  }

  .hero-img img {
    width: 85%;
    float: right;
  }

  .engineering-metrics-buttons {
    padding-right: 0;
  }

  .engineering-metrics-shape {
    bottom: 200px;
  }

  .train-neil-video {
    padding-left: 140px;
  }

  .train-neil-shape img {
    max-width: 25%;
    width: 100%;
    padding-top: 30px;
  }
}

/* Min Width 993px and Max Width 1199200*/

@media (min-width: 993px) and (max-width: 1200px) {
  .hero-content h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .hero-content h4 {
    font-size: 20px;
    padding-right: 100px;
  }

  .hero-img img {
    width: 80%;
    float: right;
  }

  .copilot-insights {
    right: 0;
  }

  .engineering-metrics-gif::after {
    max-width: 400px;
    right: 0;
  }

  .engineering-metrics-buttons {
    padding-right: 0;
  }

  .engineering-metrics-buttons a:nth-child(4) {
    margin-left: 0;
  }

  .stats-card h1 {
    font-size: 80px;
  }

  .stats-card h1 span {
    font-size: 26px;
  }

  .data-driven-top h2,
  .copilot-top h2,
  .join-title h2 {
    font-size: 36px;
  }

  .data-driven-top h2 img,
  .copilot-top h2 img {
    width: 5%;
  }

  .join-input input {
    width: 318px;
  }
}

/* Min Width 769px and Max Width 992px */

@media (min-width: 769px) and (max-width: 992px) {
  .hero-wrapper {
    padding-top: 170px;
  }

  .hero-content {
    padding-right: 150px;
  }

  .hero-content h2 {
    font-size: 32px;
    line-height: 45px;
  }

  .hero-content h4 {
    font-size: 20px;
    padding-right: 100px;
  }

  .hero-img {
    top: 50px;
  }

  .hero-img img {
    width: 50%;
    float: right;
  }

  .hero-img::after {
    top: 170px;
    right: 0;
    width: 32%;
  }

  .brands-container {
    padding: 120px 0 50px;
  }

  .engineering-metrics-content h3 {
    font-size: 30px;
  }

  .copilot-insights {
    right: 0;
    bottom: -50px;
  }

  .engineering-metrics-gif::after,
  .discover-container::before {
    max-width: 200px;
    right: 0;
  }

  .engineering-metrics-buttons {
    padding: 100px 0 0;
  }

  .engineering-metrics-buttons a:nth-child(4) {
    margin-left: 0;
  }

  .stats-card h1 {
    font-size: 80px;
  }

  .stats-card h1 span {
    font-size: 26px;
  }

  .discover-content {
    max-width: 56%;
    padding: 35px 100px 0 35px;
  }

  .discover-content h5 {
    font-size: 16px;
  }

  .discover-content a {
    font-size: 16px;
    bottom: 35px;
  }

  .data-driven-top h2,
  .copilot-top h2,
  .join-title h2 {
    font-size: 36px;
  }

  .data-driven-top h2 img,
  .copilot-top h2 img {
    width: 5%;
  }

  .dd-btn-mobile {
    padding-top: 35px !important;
    padding-left: 52px;
  }

  .train-neil-content-box h5 {
    padding-right: 80px;
  }

  .join-input input,
  .join-submit-btn input {
    width: 300px;
  }

  .get-demo-btn a {
    text-align: center;
    margin-left: 0;
    margin-top: 25px;
  }

  .footer-menu ul li {
    padding-right: 30px;
  }
}

/* Min Width 300px and Max Width 768px */

@media (min-width: 300px) and (max-width: 768px) {
  .hero-wrapper {
    padding-top: 140px;
  }

  .hero-content {
    padding-right: 0 !important;
    padding: 0 10px;
  }

  .hero-content h2 {
    font-size: 33px;
    line-height: 39px;
    padding-right: 30px;
  }

  .hero-content h2 img {
    width: 35px;
    padding-left: 5px;
  }

  .hero-content h4 {
    font-size: 17px;
    padding: 20px 0 25px;
  }

  .demo-btn a,
  .hero-sign-Up-btn a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .hero-sign-Up-btn {
    padding-top: 20px;
  }

  .hero-img {
    display: none;
  }

  .hero-img-mobile {
    text-align: center;
    padding: 30px 0 20px;
  }

  .hero-img-mobile::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 40%;
    background: #00ffff;
    filter: blur(90px);
    z-index: -1;
  }

  .brands-wrapper::before {
    display: none;
  }

  .brands-wrapper {
    margin-top: 0;
  }

  .brands-container {
    padding: 0;
  }

  .brand-card {
    text-align: center;
    padding-bottom: 40px;
    padding-left: 0;
  }

  .brand-card h6 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 30px;
    margin: 0;
  }

  .engineering-metrics-container::after {
    display: none;
  }

  .engineering-metrics-content {
    padding: 80px 28px 30px;
    border-radius: 20px;
    overflow: hidden;
  }

  .engineering-metrics-content::after {
    position: absolute;
    content: "";
    max-width: 350px;
    width: 100%;
    height: 216px;
    left: 0px;
    top: -180px;
    background: rgba(190, 212, 255, 0.4);
    filter: blur(35px);
  }

  .engineering-metrics-content h3 {
    font-size: 18px;
    line-height: 25px;
  }

  .copilot-insights {
    max-width: 200px;
    padding: 15px;
    right: 0;
    bottom: -50px;
  }

  .copilot-insights h6 {
    font-size: 7px;
    margin-bottom: 0;
  }

  .copilot-insights p {
    font-size: 7px;
    line-height: 12px;
    padding-top: 6px;
  }

  .ask-input input {
    padding: 6px;
    margin-top: 20px;
  }

  .ask-input ::placeholder {
    font-size: 8px;
  }

  .engineering-metrics-gif::after {
    width: 172px;
    height: 159px;
    left: 90px;
    bottom: -250px;
    background: rgba(0, 255, 255, 0.2);
    filter: blur(50px);
  }

  .engineering-metrics-buttons {
    justify-content: center;
    gap: 12px;
    padding: 80px 0 0;
  }

  .engineering-metrics-buttons a {
    font-size: 10px;
    padding: 10px 15px;
  }

  .engineering-metrics-buttons a:nth-child(4) {
    margin-left: 0;
  }

  .stats-container {
    padding: 80px 0 65px 25px;
  }

  .stats-container::before {
    width: 2px;
  }

  .stats-top .tag span {
    font-size: 12px;
    padding: 6px 15px;
  }

  .stats-card {
    text-align: left;
  }

  .stats-card h1 {
    font-size: 54px;
  }

  .stats-card h1 span {
    font-size: 20px;
    margin-left: -5px;
  }

  .stats-card p {
    font-size: 12px;
    margin-bottom: 0;
  }

  .discover-wrapper {
    padding-top: 30px;
  }

  .discover-container {
    border-radius: 20px;
  }

  .discover-container::before {
    display: none;
  }

  .discover-content {
    max-width: 85%;
    width: 100%;
    padding: 36px;
    background: none;
    overflow: hidden;
  }

  .discover-content::after {
    position: absolute;
    content: "";
    width: 285px;
    height: 216px;
    left: 32px;
    top: -152px;
    background: rgba(190, 212, 255, 0.4);
    filter: blur(50px);
  }

  .discover-content h5 {
    font-size: 16px;
  }

  .discover-content a {
    display: block;
    position: initial;
    font-size: 11px;
    padding-top: 30px;
  }

  .discover-chart {
    margin-top: 0;
    margin-left: 0;
  }

  .chart-mobile {
    position: absolute;
    right: 0;
  }

  .data-driven-wrapper {
    padding-top: 225px;
  }

  .data-driven-top {
    padding: 180px 0 25px 20px;
  }

  .data-driven-top h2,
  .copilot-top h2,
  .join-title h2 {
    font-size: 22px;
    line-height: 120%;
  }

  .data-driven-top h2 br,
  .copilot-top h2 br,
  .join-title h2 br {
    display: none;
  }

  .data-driven-top::before,
  .copilot-top::before,
  .tech-stack-top::before,
  .join-container::before,
  .slack-title::before {
    width: 2px;
  }

  .data-driven-card {
    padding: 40px 20px 0;
  }

  .data-driven-card1 h5 {
    font-size: 18px;
    padding: 0 20px;
  }

  .data-driven-learn-btn a {
    font-size: 12px;
  }

  .data-driven-learn-btn a img,
  .discover-content a img {
    width: 6px;
    margin-left: 2px;
  }

  .data-driven-card-img {
    padding-top: 55px;
  }

  .brain-icon-desktop,
  .pilot-icon-desktop,
  .rocket-icon-desktop,
  .copilot-right-img-desktop {
    display: none;
  }

  .dd-btn-mobile {
    padding-top: 35px !important;
    padding-left: 20px;
  }

  .data-driven-card1-img {
    padding-top: 30px;
  }

  .data-driven-video2 {
    padding-top: 55px;
  }

  .copilot-top {
    padding: 110px 0 24px 20px;
  }

  .copilot-top img {
    width: 40px;
  }

  .copilot-left-card h5 {
    font-size: 16px;
    padding: 42px 34px;
  }

  .copilot-left-card {
    position: relative;
    z-index: 1;
  }

  .copilot-left-card img {
    position: initial;
    max-width: 100%;
    width: 100%;
  }

  .copilot-left-card::before {
    position: absolute;
    content: "";
    width: 110px;
    height: 84px;
    left: 50%;
    top: 220px;
    transform: translateX(-50%);
    background: #00ffff;
    filter: blur(100px);
    z-index: -1;
  }

  .copilot-right-img {
    padding: 30px 0 40px;
  }

  .copilot-right-img {
    float: none !important;
  }

  .copilot-right-img img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }

  .train-neil-content-box h5 {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 19px;
    margin: 0;
  }

  .train-neil-shape,
  .tech-stack-shape {
    display: none;
  }

  .train-neil-content-box {
    width: 85%;
    border-radius: 20px;
    overflow: hidden;
  }

  .train-neil-content-box::after {
    position: absolute;
    content: "";
    width: 266px;
    height: 101px;
    left: 70;
    top: -100px;
    background: rgba(95, 235, 254, 0.77);
    filter: blur(50px);
  }

  .train-neil-video {
    padding-top: 60px;
  }

  .slack-title {
    padding: 180px 0 20px 20px;
  }

  .slack-title h3 {
    font-size: 18px;
    line-height: 25px;
  }

  .slack-img {
    position: relative;
    padding-top: 35px;
  }

  .slack-img::after {
    position: absolute;
    content: "";
    width: 150px;
    height: 185px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #00ffff;
    filter: blur(150px);
    z-index: -1;
  }

  .tech-stack-top {
    padding: 150px 0 20px 30px;
  }

  .tech-stack-top h3 {
    font-size: 17px;
    line-height: 25px;
  }

  .tech-stack-img {
    padding-top: 17px;
  }

  .tech-stack-img::after {
    position: absolute;
    content: "";
    width: 150px;
    height: 185px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #00ffff;
    filter: blur(150px);
  }

  .tech-stack-img img {
    width: 100%;
    max-height: initial;
  }

  .slack-title::before {
    display: block !important;
  }

  .slack-img img {
    max-height: inherit;
    object-fit: cover;
  }

  .join-wrapper {
    padding: 100px 0 150px;
  }

  .join-container {
    padding: 0;
  }

  .join-container::before {
    display: none;
  }

  .join-form {
    padding-top: 60px;
  }

  .join-input input,
  .join-submit-btn input {
    width: 100%;
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .join-form hr {
    margin: 0 0 20px;
    border-top: 1px solid #9b9fa4;
    opacity: 1;
  }

  .join-form ::placeholder {
    font-size: 14px;
  }

  .get-demo-btn a {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    margin-left: 0;
    margin-top: 25px;
  }

  .footer-wrapper {
    padding: 65px 20px;
    border-radius: 48px 48px 0 0;
  }

  .footer-wrapper::before {
    position: absolute;
    content: "";
    width: 250px;
    height: 153px;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    background: #00ffff;
    filter: blur(150px);
  }

  .footer-menu-container {
    padding-top: 35px;
  }

  .footer-menu ul li {
    padding: 6px 0;
  }

  .footer-logo {
    max-width: 165px;
  }

  .footer-logo {
    max-width: 165px;
  }

  .footer-menu ul li {
    padding-right: 30px;
  }

  .social-media {
    padding-top: 40px;
  }

  .social-media ul li {
    padding-left: 0;
    padding-right: 12px;
  }

  .footer-wrapper hr {
    margin: 44px 0 70px;
  }

  .terms-policy ul li {
    padding-left: 0;
    padding-right: 25px;
  }

  .footer-copyright {
    padding-top: 25px;
  }
}

@media (max-width: 400px) {
  .hero-content h2 {
    padding-right: 0px;
  }
}
