/* Base Style CSS Start */

/* Fonts */

/* Montserrat Font */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Helvetica Font */

@font-face {
  font-family: "Helvetica";
  src: url(../fonts/Helvetica-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica";
  src: url(../fonts/Helvetica-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica";
  src: url(../fonts/Helvetica-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Helvetica";
  background: #050f1c;
  scroll-behavior: smooth;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --red: #ef3164;
  --gray: #b3b3b3;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* Base Style CSS End */

/* Header Part CSS Start */

/* Navigation Section CSS Start */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 999;
}

.navbar.sticky {
  background: #060f1b;
  padding: 20px 0;
  -webkit-animation: sticky 1.2s;
  animation: sticky 1.2s;
}

@keyframes sticky {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

#navbarNav {
  padding-top: 15px;
}

.navbar-nav {
  padding-left: 100px;
}

.nav-link {
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--white) !important;
  padding: 0 26px !important;
}

a.sign-in-btn,
a.sign-up-btn {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: var(--white);
}

a.sign-up-btn {
  margin-left: 20px;
  padding: 10px 44px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.navbar-toggler {
  border: 0 !important;
  margin-top: -15px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.toggler-icon {
  width: 25px;
  height: 2px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: #ffffff;
}

.nav-buttons img {
  width: 20px;
}

@media (max-width: 1200px) {
  .navbar {
    background: #050f1c;
  }

  .logo {
    max-width: 150px;
  }

  .navbar-nav {
    padding-left: 0;
  }

  .navbar-toggler {
    padding-top: 20px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .nav-link {
    padding: 10px 0 !important;
  }

  .nav-buttons {
    margin-top: 20px;
  }
}

/* Navigation Section CSS End */

/* Hero Section CSS Start */

.hero-wrapper {
  padding-top: 270px;
}

.hero-content h2 {
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: var(--white);
}

.hero-content h2 img {
  width: 35px;
  padding-left: 5px;
}

.hero-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: var(--gray);
  padding: 30px 0 50px;
}

.demo-btn a {
  font-size: 17px;
  font-weight: 300;
  color: var(--white);
  background: #ef3164;
  padding: 9px 49px;
  border-radius: 8px;
}

.hero-sign-Up-btn a {
  font-size: 17px;
  font-weight: 300;
  color: var(--white);
  padding: 8px 48px;
  border: 1px solid var(--white);
  border-radius: 8px;
}

.hero-img {
  position: absolute;
  top: 0;
  right: 0;
}

.hero-img::after {
  position: absolute;
  content: "";
  top: 270px;
  right: 0;
  width: 55%;
  height: 40%;
  background: rgba(0, 255, 255, 0.7);
  filter: blur(150px);
  z-index: -1;
}

.brands-wrapper {
  position: relative;
  margin-top: 50px;
}

.brands-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(115, 115, 115, 0) -13.88%,
    #ffffff 127.86%
  );
  border-radius: 30px;
}

.brands-container {
  padding: 165px 0 70px;
}

.brand-card {
  padding-left: 100px;
}

.brand-card h6 {
  font-size: 18px;
  font-weight: 700;
  color: #d8dbde;
  padding-bottom: 50px;
}

/* Hero Section CSS End */

/* Header Part CSS End */

/* Main Part CSS Start */

/* Engineering Metrics Section CSS Start */

.engineering-metrics-wrapper {
  padding-top: 60px;
}

.engineering-metrics-content {
  max-width: 940px;
  padding: 40px 0 35px 110px;
}

.tag span {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #00ffff;
  padding: 9px 29px;
  border: 0.5px solid #00ffff;
  border-radius: 60px;
}

.engineering-metrics-content h3 {
  font-size: 33px;
  font-weight: 700;
  line-height: 38px;
  color: #e6e6e6;
  padding-top: 30px;
  margin-bottom: 0;
}

.engineering-metrics-container {
  position: relative;
}

.engineering-metrics-container::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(
    222deg,
    rgb(255 212 212 / 42%) 2.83%,
    rgba(14, 21, 62, 0) 38.51%,
    rgba(5, 15, 28, 0.55) 90.59%
  );
  backdrop-filter: blur(3px);
  border-radius: 30px;
  z-index: -1;
}

.engineering-metrics-gif {
  max-width: 940px;
}

.engineering-metrics-gif::after {
  position: absolute;
  content: "";
  max-width: 399px;
  width: 100%;
  max-height: 322px;
  height: 100%;
  right: -250px;
  bottom: -250px;
  background: rgba(0, 255, 255, 0.2);
  filter: blur(150px);
  z-index: -1;
}

.copilot-insights {
  position: absolute;
  right: -150px;
  bottom: 150px;
  max-width: 304px;
  width: 100%;
  padding: 30px;
  background: linear-gradient(
      206.5deg,
      rgba(0, 255, 255, 0.2) -38.83%,
      rgba(0, 0, 0, 0.092) 102.5%
    ),
    #101828;
  border-radius: 8px;
}

.copilot-insights h6 {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.03em;
  color: var(--white);
}

.copilot-insights p {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: var(--gray);
  padding-top: 15px;
  margin-bottom: 0;
}

.ask-input input {
  width: 100%;
  margin-top: 55px;
  padding: 11px;
  padding-left: 20px;
  color: var(--white);
  background: #101828;
  border: 1px solid rgba(85, 118, 187, 0.4);
  border-radius: 8px;
}

.ask-input input:focus {
  outline: 0;
}

.ask-input ::placeholder {
  font-size: 13px;
  color: var(--white);
}

.engineering-metrics-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.engineering-metrics-buttons a {
  font-size: 18px;
  color: var(--white);
  padding: 16px 37px;
  background: #050f1c;
  border: 2px solid #113242;
  border-radius: 11px;
}

.engineering-metrics-buttons {
  padding: 25px 115px;
}

.engineering-metrics-buttons a:nth-child(4) {
  margin-left: 140px;
}

.engineering-metrics-shape {
  position: absolute;
  right: 0;
  bottom: 100px;
  z-index: -2;
}

/* Engineering Metrics Section CSS End */

/* Stats Section HTML Start */

.stats-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(5, 15, 28, 0.24) -1.85%,
    #ffffff 127.86%
  );
  border-radius: 30px;
}

.stats-container {
  padding: 190px 0 80px 90px;
}

.stats-card {
  padding-top: 30px;
  text-align: center;
}

.stats-card h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  color: var(--white);
}

.stats-card h1 span {
  font-size: 37px;
  font-weight: 700;
  line-height: 45px;
  margin-left: -15px;
}

.stats-card p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: var(--white);
}

/* Stats Section HTML End */

/* Discover Section CSS Start */

.discover-wrapper {
  padding-top: 100px;
}

.discover-content {
  max-width: 55%;
  width: 100%;
}

.discover-chart {
  max-width: 100%;
  width: 100%;
}

.discover-content {
  position: relative;
  height: auto;
  padding: 60px 120px 60px 60px;
  background: linear-gradient(
    130.56deg,
    #dfacf082 -67.98%,
    rgba(5, 15, 28, 0) 97.64%
  );
  border-radius: 20px;
}

.discover-content h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #cccccc;
}

.discover-content a {
  position: absolute;
  bottom: 60px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: var(--white);
}

.discover-chart {
  background: #182333;
  padding: 45px;
  margin-top: 50px;
  margin-left: -120px;
  border-radius: 20px;
  z-index: 1;
}

.discover-container::before {
  position: absolute;
  content: "";
  max-width: 595px;
  width: 100%;
  max-height: 474px;
  height: 100%;
  top: 80px;
  right: 0;
  background: rgba(255, 239, 183, 0.2);
  filter: blur(150px);
  z-index: -1;
}

.discover-chart h6 {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: var(--white);
}

.discover-chart h6 span {
  font-weight: 700;
}

.chart-img {
  text-align: center;
}

.graph p {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: var(--white);
  margin-bottom: 0;
  padding-left: 4px;
}

.graph p span {
  font-weight: 700;
}

.graph > span {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7px;
  color: var(--white);
  padding: 4px 10px;
  background: #f0443846;
  border: 0.689505px solid #f58d86;
  border-radius: 50px;
}

.graph span img {
  padding-right: 5px;
}

/* Discover Section CSS End */

/* Data Driven Section CSS Start */

.data-driven-top {
  position: relative;
  padding: 200px 0 80px 85px;
}

.data-driven-top::before,
.copilot-top::before,
.tech-stack-top::before,
.join-container::before,
.slack-title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(5, 15, 28, 0.24) -1.85%,
    #ffffff 127.86%
  );
  border-radius: 30px;
}

.data-driven-top h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.01em;
  color: var(--white);
}

.data-driven-top h2 span {
  color: #00ffff;
}

.data-driven-card {
  padding: 62px 52px 0;
  background: linear-gradient(
    146deg,
    #00ffff4d -110.02%,
    rgba(5, 15, 28, 0) 87.52%
  );
  border-radius: 20px;
  overflow: hidden;
}

.data-driven-card1 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.data-driven-card h5 {
  max-width: 440px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.01em;
  color: var(--white);
}

.data-driven-card1 h5 {
  padding-left: 52px;
}

.data-driven-card1-img {
  padding-top: 70px;
}

.data-driven-video1 {
  position: absolute;
  left: 0;
  bottom: -8px;
  max-height: 419px;
  padding-right: 40px;
}

.data-driven-video1 video {
  width: 100%;
}

.data-driven-card-img {
  padding-top: 140px;
}

.data-driven-card-img img {
  width: 100%;
  border-radius: 17px;
}

.data-driven-learn-btn {
  padding-top: 100px;
}

.data-driven-learn-btn a {
  font-size: 22px;
  font-weight: 700;
  color: #999999;
}

.data-driven-learn-btn a span {
  color: var(--white);
}

/* Data Driven Section CSS End */

/* Copilot Section CSS Start */

.copilot-wrapper {
  padding-top: 40px;
}

.copilot-top {
  position: relative;
  padding: 300px 0 80px 90px;
}

.copilot-top h2 {
  font-size: 53px;
  font-weight: 700;
  line-height: 61px;
  color: var(--white);
}

.copilot-top h2 span {
  color: var(--red);
}

.copilot-container {
  background: #131e2d;
  border-radius: 20px;
}

.copilot-left-card h5 {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #cccccc;
  padding: 65px;
}

.copilot-left-card img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 70%;
}

.train-neil-container {
  margin-top: 110px;
}

.train-neil-content-box::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50px;
  width: 80%;
  height: 600px;
  background: linear-gradient(
    259deg,
    #00ffff54 -180.09%,
    rgba(5, 15, 28, 0) 99.29%
  );
  border-radius: 20px;
  z-index: -1;
}

.train-neil-content-box h5 {
  max-width: 650px;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #ccced1;
  padding-top: 40px;
}

.train-neil-video {
  max-width: 1000px;
  width: 100%;
  position: absolute;
  right: 0;
  padding-top: 72px;
}

.train-neil-video::before {
  position: absolute;
  content: "";
  width: 68%;
  height: 40%;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
  background: #00ffffd3;
  filter: blur(150px);
  z-index: -1;
}

.train-neil-video video {
  width: 100%;
  border-radius: 20px;
}

/* Copilot Section CSS End */

/* Astronuts Slack Section CSS Start */

.slack-wrapper {
  padding-top: 270px;
}

.slack-title::before {
  display: none;
}

.slack-title h3 {
  max-width: 930px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #e6e6e6;
  margin-bottom: 0;
}

.slack-title h3 span {
  color: var(--red);
}

.slack-img {
  padding-top: 100px;
}

.slack-img img {
  max-width: 100%;
  width: 100%;
  max-height: 950px;
  height: 100%;
  object-fit: cover;
  border-radius: 17px;
}

/* Astronuts Slack Section CSS End */

/* Tech Stack Section CSS Start */

.tech-stack-wrapper {
  padding-top: 35px;
}

.tech-stack-top {
  max-width: 900px;
  padding: 310px 0 50px 95px;
}

.tech-stack-top h3 {
  font-size: 33px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.01em;
  color: var(--white);
}

.tech-stack-top h3 span {
  color: #00ffff;
}

.tech-stack-img {
  padding-top: 80px;
}

.tech-stack-img::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 355px;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  background: rgba(0, 255, 255, 0.4);
  filter: blur(150px);
  z-index: -1;
}

.tech-stack-img img {
  max-width: 100%;
  width: 100%;
  max-height: 1065px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.tech-stack-shape {
  position: absolute;
  top: 250px;
  right: 0;
  z-index: -1;
}

/* Tech Stack Section CSS End */

/* Join Section CSS Start */

.join-wrapper {
  padding-bottom: 200px;
}

.join-container {
  padding: 270px 0 0 100px;
}

.join-form {
  padding-top: 70px;
}

.join-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.02em;
  color: var(--white);
}

.join-input input {
  width: 370px;
  color: var(--black);
  padding: 12px 0 12px 20px;
  border: none;
  border-radius: 10px 0 0 10px;
}

.join-input input:focus,
.join-submit-btn input:focus {
  outline: 0;
}

.join-submit-btn input {
  width: 310px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 12px 20px;
  color: var(--white);
  background: var(--red);
  border: none;
  border-radius: 0 10px 10px 0;
}

.get-demo-btn a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: var(--white);
  padding: 12px 30px;
  margin-top: -2px;
  margin-left: 30px;
  border: 1px solid var(--white);
  border-radius: 10px;
}

.join-form ::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #b3b3b3;
}

/* Join Section CSS End */

/* Main Part CSS End */

/* Footer Part CSS Start */

.footer-wrapper {
  background: #050f1c;
  padding: 70px;
}

.footer-wrapper::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 300px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: rgba(0, 255, 255, 0.4);
  filter: blur(150px);
  z-index: -1;
}

.footer-menu-container {
  padding-top: 45px;
}

.footer-menu ul li {
  padding-right: 65px;
}

.footer-menu ul li a {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--white);
}

.social-media ul li {
  padding-left: 17px;
}

.footer-wrapper hr {
  margin: 60px 0;
  border-top: 1px solid var(--white);
  opacity: 1;
}

.footer-copyright p {
  font-weight: 300;
  font-size: 16px;
  color: var(--white);
  margin-bottom: 0;
}

.terms-policy ul li {
  padding-left: 40px;
}

.terms-policy ul li a {
  font-size: 16px;
  font-weight: 300;
  color: var(--white);
}

/* Footer Part CSS End */
